rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // This allows a user to read and write only their own documents in the 'todos' collection
    match /todos/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
